html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

@font-face {
    font-family: "Romance Fatal";
    src: url("../fonts/romancefatal.ttf");
}

.container {
    max-width: 1200px;
    margin: auto;
}

header {
    background-color: rgba(136, 128, 128, 0.44);
}

.logo-header {
    margin: 5% auto 0;
}

@media (min-width: 725px) {
    .logo-header {
        width: 50%;
    }
}

h1,
h2,
h3,
h4 {
    font-family: "Romance Fatal", serif;
}

h1 {
    color: #ffffff;
    font-size: 3em;
}

#logo-img {
    width: 70%;
    display: block;
    margin: auto;
    padding: 4em 0 0 0;

}


/* ------ RIBBON BACKGROUND FOR H1 -------- */

/* -- Tutorial found at https://css-tricks.com/snippets/css/ribbon/ -- */
.ribbon {
    font-size: 3em;
    width: 100%;
    position: relative;
    background: #71271c;
    color: #ffffff;
    text-align: center;
    padding: 1em; /* Adjust to suit */
    margin: 0.5em auto; /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
}

.ribbon::before,
.ribbon::after {
    content: "";
    position: absolute;
    display: block;
    bottom: -1em;
    border: 1.5em solid #3e160f;
    z-index: -1;
}

.ribbon::before {
    left: -2em;
    border-right-width: 1.5em;
    border-left-color: transparent;
}

.ribbon::after {
    right: -2em;
    border-left-width: 1.5em;
    border-right-color: transparent;
}

.ribbon .ribbon-content::before,
.ribbon .ribbon-content::after {
    content: "";
    position: absolute;
    display: block;
    border-style: solid;
    border-color: #521c14 transparent transparent transparent;
    bottom: -1em;
}

.ribbon .ribbon-content::before {
    left: 0;
    border-width: 1em 0 0 1em;
}

.ribbon .ribbon-content::after {
    right: 0;
    border-width: 1em 1em 0 0;
}


/* ----- NAVIGATION ---- */
p,
nav {
    font-family: "Lato", sans-serif;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

nav {
    text-align: center;
    padding-bottom: 2em;
}

nav li {
    display: block;
    padding: 0 1em;
}

nav li a {
    text-decoration: none;
    color: #e9e5e5;
    font-size: 1em;
}

h1,
h2 {
    text-align: center;
}

h2 {
    color: #71271c;
    padding-top: 1em;
    font-size: 2em;
}

/* ---------- MENU ------------ */
.food {
    width: 100%;
    margin: auto;
    text-align: center;
    color: #e8b54c;
    background-color: rgba(57, 50, 42, 0.8);
}

.food h3 {
    font-size: 2em;
    border-bottom: 1px solid #71271c;
}

.food a img {
    width: calc(100% / 3 - 3em);
    -webkit-box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.4);
    border-radius: 0.2em;
    margin: 1em;
}


/* ---------- TOM'S SPECIAL ----------- */
.dish {
    padding: 1em 1em 5em;
    background-color: #e8b54c;
    text-align: center;
}

.dish img {
    width: calc(100% / 1.25);
    margin: 1em 2em;
    border-radius: 0.2em;
    -webkit-box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.4);
}

.dish h3 {
    margin: 1em;
}



/* --------- EVENTS ----------- */
