html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.container {
    max-width: 1200px;
    background-color: #ffffe6;
    margin: auto;
}

#logo-img {
    width: 10%;
    display: block;
    margin: auto;
}
