html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

@font-face {
    font-family: "Romance Fatal";
    src: url("../fonts/romancefatal.ttf");
}

h1,
h2,
h3,
h4 {
    font-family: "Romance Fatal", serif;
}

p {
    font-family: "Lato", sans-serif;
}

.container {
    max-width: 1200px;
    background-color: #ffffe6;
    margin: auto;
}

#logo-img {
    width: 10%;
    display: block;
    margin: auto;
    padding-top: 1em;
}

h1 {
    font-family: "Romance Fatal", serif;
    text-align: center;
}
